@font-face {
  font-family: Segoe UI;
  src: url(segoeui.ttf);
}

* { 
  font-family: Segoe UI;
}

p, ul, li, div {
    padding: 0;
    margin: 0;
}

body {
  background-color: #282E3A;
}

header {
  background-color: #0066B2;  
  font-size: 1.3em;
  color: white;
  text-align: center;
  padding: 0.5em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px; 
}

.page-grid {
  width: 100%;
  overflow: hidden;
}

.sidebar.left {
  float: left;
  width: 250px;
  font-size: 1.1em;
  background-color: #0c8fff;
}

.sidebar.left ul li a {
    padding: 11px 15px;
    display: block;
    color: white;
    text-decoration: none;
}

.sidebar.left ul li a:hover {
    background-color: #007ee9;
}

.sidebar.left ul li a.current {
  background-color: #33a7ff;
}

.separator {
  background-color: #0066B2;
  height: 1px;
}

.icon {
  height: 20px;
  vertical-align: text-bottom;
}

.sidebar.right {
  width: 350px;
  float: right;
  margin-top: -1px;
  margin-right: -1px;
}

.content {
  font-size: 1.1em;
  margin-top: 8px;
  margin-left: 258px;
  margin-right: 358px;
  padding: 10px;
  border-radius: 8px;
  background-color: white;
}

.content#welcome {
  font-size: 1.5em;
  color: white;
  margin-right: 0px;
  margin-top: 0px;
  background-color: transparent;
}

.calendar {
  margin-top: 8px;
  margin-left: 8px;
  float: left;
}

.twitter.feed {
  margin-left: 8px;
  margin-top: 8px;
  float: left;
}